<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
       Electrics,Cars,Fashion,Collectibles,Coupons and more | eBay
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet"> 
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <script src="js/respond.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
     <script src="https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js"></script>
    
     <script src="/angularjs/cart.js"></script>
   
</head>

<body ng-app="cart" ng-controller="cart">

    <!-- *** TOPBAR ***
 _________________________________________________________ -->
     <div id="top"  style="background-color:white;margin-top:-10px;">
        <div class="container">
         <div class="col-md-10">
                <ul class="menu" >
                     <li>
                     <div ng-hide="notlogin">
                     <label>Hi!</label>
                     <a href='login' style="color:#00509d;">Sign In</a>
                     <label>or</label>
                     <a href='login' style="color:#00509d;">Register</a></div>
                     <div ng-hide="login">
                     <label>Hi!</label>
                     <label> <a href='myebay' style="color:#00509d;">{{fname}}</a></label>
                     <a href='logout' style="color:#00509d;">Logout</a>
                     
                     </div>
                    </li><li><a href="register.html">Daily Deals</a>
                    </li>
                    <li><a href="contact.html">Gift Cards</a>
                    </li>
                    <li><a href='sell'>Sell</a>
                    </li>
                    <li><a href="#">Help & Contact</a>
                    </li>
                   
                  
 <li><a href="#"><img src="/img/scary.png" style="width:140px;height:30px;"></a></li>
 
    <li class="dropdown">
     <a href='myebay' class="dropdown-toggle" data-toggle="dropdown">My eBay</a>
      <ul class="dropdown-menu">
       <li><a href='myebay'>Account</a></li>
       <li><a href='myebay'>Purchase History</a></li>
       <li><a href='myebay'>Sell Items</a></li>
      </ul>
     </li>
   <li><a href="#">
          <span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
</li>
 <li><a href="#">
          <span class="glyphicon glyphicon-bell"></span>
        </a>
</li>

                </ul>
            </div>
         </div>
     

    </div>

    <!-- *** TOP BAR END ***  -->
    
     <div style="background-color: #eee">
    <div class="container" style="margin-top: -8px;">
    <div class="row">
    <div class="col-md-2"> 
    <img src="/img/logo.png" style="width:170px;height:68px;margin-top:5px"></img>
    </div>
    <div class="col-md-1">
    <div class="dropdown" >
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="background:transparent; margin-top: 18px; width:100px;border: 0px;margin-left:-20px;">All Category
    <span class="caret"></span></button>
   <!--  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Antiques</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Art</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Clothes</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
    </ul>-->
   <!--  <div class=" collapse navbar-collapse">
   <ul class="nav navbar-nav">
    	<li class="dropdown mega-dropdown">
							<button id="sbc" class="dropdown-toggle" style=" width: 100px; height: 15px; margin-left: 0px; border: none;"
								data-toggle="dropdown">Shop by Category
								<i id="gh-shop-ei" class="gh-sprRetina"></i></button> -->
								<ul class="dropdown-menu mega-dropdown-menu row">
									<li class="col-md-12">
									<table id="sbcats">
									
									</table>
									</li></ul>
    
    </div> 
    </div>
    <div class="col-md-5">
    <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="searchbar" style="width: 483px;margin-left: -10px;margin-top: 10px;" placeholder="Search.." autofocus="autofocus" />
                        </div> 
    </form>
    </div>
    <div class=" col-md-2">
    <select style="background-color: white; margin-top: 18px; width:170px;height:34px;" ng-model="cat">
    <option value="All Categories" selected="selected">All Categories</option>
   <option ng-repeat="x in itinerary"> {{x.name}}</option>
</select> 
   
   
  </div>
  <div class="col-md-1">
   <form class="navbar-form" role="search">
                    <div class="input-group">
                        <button type="button" ng-click="getsearch()" class="btn btn-primary" style="background-color: #00509d;width:100px;margin-left:-25px;margin-top: 10px;">SEARCH</button>
                        </div> </form>
  </div>
 <div class="col-md-1">
  <label style=" margin-top: 25px;margin-left: 0px;"><a href=# style="color:black;">Advanced</a></label>
  </div> </form>
  </div>

  
         </ul>
  </div>
    
		<!-- ---------------------- ------------------------------ -->
<div class="container">
		<div class="col-md-12"></div>
		<h2>Your eBay Shopping Cart</h2>

		
		<div class="panel col-md-10">

			<div class="row">
				<div class="panel col-md-8" ng-repeat="x in productsincart"
					style="background-color: white; border-color: black; margin: 10px;">
					<div class="panel col-md-12"
						style="background-color: #eeeeee; margin-top: 10px;">
						<div class="col-md-4">
						<div class="row">
							<a href="#" style="color: #00509d;"><b>{{x.name}}</b></a>
							</div>
							<div class="row">
							<table>
								<tr >
								<img src="/img/iphone.png" style="height:80px;width:60px">
								</tr>
								<tr>
									<td>Size:</td>
									 <td>{{x.size}}</td>
									
								</tr>
							</table>
							</div>
						</div>

						<div class="col-md-4">
							Quantity : <input type="number" style="width: 30px;" value={{x.quantity}}>
						</div>

						<div class="col-md-4" style="text-align: right">
							Price : <label>{{x.cost*x.quantity}}</label>
						</div>
						<a href='' style="float: right; color: #00509d;" id={{x.id}} onclick="removefromcart(this.id)">Remove</a>
					</div>
				</div>


				<div class="panel col-md-3"
					style="background-color: white; border-color: black; margin: 10px; padding-bottom: 20px;">
					<div class="col-md-12">
						<h4>Cart Summary</h4>
						<hr>
					</div>

					<div class="col-md-12">
						<h4>Total: ${{total}}</h4>
					</div>
					<div class="col-md-12">
						<button class="btn btn-primary" style="background-color: #00509d;" ng-click="checkout()">Proceed
							to checkout</button>
					</div>
					<div class="col-md-12" style="padding: 10px;">
						<img alt="" src="/img/eMBG_stacked.gif">
					</div>
					<div class="col-md-12" style="font-size: 12px;">Covers your
						purchase price plus original shipping on virtually all items. Get
						the item you ordered or get your money back.</div>
				</div>




			</div>

			<div class="row">
				<div class="col-md-3"></div>
				<div class="panel col-md-5"
					style="background-color: white; border-color: black; margin: 10px;">
					<div class="row" style="padding-top: 10px;">
						<div class="col-md-3"></div>
						<div class="col-md-3"></div>
						<div class="col-md-3" style="text-align: right">Subtotal :</div>
						<div class="col-md-3" style="text-align: left">${{total}}</div>
					</div>

					<div class="row">
						<div class="col-md-3"></div>
						<div class="col-md-3"></div>
						<div class="col-md-3" style="text-align: right">Shipping :</div>
						<div class="col-md-3" style="text-align: left">FREE</div>
					</div>

					<div class="row">
						<div class="col-md-3"></div>
						<div class="col-md-3"></div>
						<div class="col-md-3" style="text-align: right">
							<h4>Total :</h4>
						</div>
						<div class="col-md-3" style="text-align: left">
							<h4>${{total}}</h4>
						</div>
					</div>

					<div class="row" style="padding: 10px;">
						
						<div class="col-md-4">
							<button class="btn"
								style="background-color: #fafafa; border: 1px solid #aaa;"
							><a href="/homepage">Continue
								shopping</a></button>
						</div>
						<div class="col-md-1"></div>
						<div class="col-md-3">
							<button class="btn btn-primary"
								style="background-color: #00509d;">Proceed to checkout</button>
						</div>
					</div>

				</div>
			</div>
		</div>
		</div>
		<!-- /.container -->
		<!-- jQuery -->
		<script src="js/jquery.js"></script>
		<!-- Bootstrap Core JavaScript -->
		
		<!-- *** SCRIPTS TO INCLUDE ***
			 _________________________________________________________ -->
		<script src="js/jquery-1.11.0.min.js"></script>
		<script src="js/jquery.cookie.js"></script>
		<script src="js/waypoints.min.js"></script>
		<script src="js/modernizr.js"></script>
		
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/front.js"></script>
		<script src="js/a.js"></script>
		<script src="js/a.js"></script>
</body>
</html>